*{
  margin:0;
  padding:0;
}
.app {
  
  display: grid;
  place-items: center;
  background-color: #ffff;
  height: 100vh;
}
.app_body{
  height: 90vh;
  width:90vw;
  background-color:whitesmoke;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0,0, 0.75);
  display: flex;
}
