.sidebar{
    flex: 0.25;
    background-color:white;
    display: flex;
    flex-direction: column;
    border-right: solid 1px lightgray;
}
.sidebar__header{
    display: flex;
    margin-top: 8px;
    margin-left: 12px;
}
.sidebar__headerInfo{
    margin-left: 20px;
}
.teacher{
    font-size: small;
    color: gray;
    
}
.heading > td{
    font-size: small;
    padding:3px;
    color: gray;
}
.Join{
    display: flex;
    
    width:300px
}
#btn{
    flex: 1;

    margin-left: 12px;
    background-color: red;
}
